export(booktabs, clear, dbframe, dbname,
       "insert<-", readonly, rows, select, table)
exportClasses(dbframe, dbframe_sqlite)

importMethodsFrom(DBI, dbConnect)
exportMethods(dbConnect)
importFrom(utils, head, tail)
S3method(head, dbframe)
S3method(tail, dbframe)
S3method(as.data.frame, dbframe)
S3method(dim, dbframe)
